<header class="intro-header"
        style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10">
                <div class="site-heading">
                    {% if site.title %}<a href="{{ site.baseurl }}/"><h2>{{ site.title }}</h2>{% endif %}</a>
                    {% if site.description %}<span class="subheading">{{ site.description }}</span>{% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

